@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto-bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
}

.container-login{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-marvel{
    background-image: url('./assets/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-blanco{
    background-color: #fff;
}

.card{
    position: relative;
    background: #fff;
    border-radius: 3%;
    padding: 1em;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Roboto-Bold';
    font-size: 3em;
    color: #5C5C5C;
}

.subtitle{
    font-family: 'Roboto-Medium';
    font-size: 2em;
    color: #5C5C5C;
}

.subtitle-container{
    padding-top: 20%;
}

.form{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.input-line{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0 ;
}

.input-line input{
    font-family: 'Roboto-Regular';
}

.input{
    width: 100%;
    height: 50px;
    text-indent: 10px;
    border-radius: 5px;
    border: solid 1px #ED1D24;
    font-size: 1em;
}

.block-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.button{
    font-family: 'Roboto-Regular';
    background-color: #ED1D24;
    color: #fff;
    border: none;
    padding: 1em 4em;
    border-radius: 3%;
    overflow: hidden;
    cursor: pointer;
    font-size: 1em;
}

.button:hover{
    transition: .1s ease-in-out;
    box-shadow: 0 3px 4px 0.2px #9b9b9b;
}

.logo-login{
    width: 50%;
    position: absolute;
    top: -2em;
}

.not-found{
    color: #fff;
    font-size: 3em;
    font-family: 'Roboto-Bold';
}

.menu-bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 6em;
    background-color: #fff;
    box-shadow: 0 1px 5px 1px #9b9b9b;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.logo-container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    z-index: 3;
}

.logo-menu{
    max-width: 100px;
    cursor: pointer;
}

.menu-movil-boton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 6em;
    height: 100%;
    z-index: 3;
    background-color: #9b9b9b;
}

.linea-menu-movil{
    width: 70%;
    height: 2px;
    border: solid 1px #ED1D24;
    background-color: #ED1D24;
    transition: .25s ease-in-out;
}

.logout-desktop{
    font-family: 'Roboto-Medium';
    font-size: 1.5em;
    color: #ED1D24;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    cursor: pointer;
}

.menu-opciones-movil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    position: fixed;
    width: 100%;
    height: 50%;
    background-color: #9b9b9b;
    box-shadow: 0px -2px 0 2px #9b9b9b;
    z-index: 1;
    transition: .5s ease-in-out;
    border-bottom: solid 5px #ED1D24;
}

.close{
    top: -100%;
}

.open{
    top: 0;
}
.uno-rotate{
    transform: rotate(45deg) translateY(7px) translateX(10px);
}

.dos-rotate{
    transform: rotate(-45deg) translateY(-8px) translateX(10px);
}

.logout-movil{
    font-family: 'Roboto-Medium';
    font-size: 2em;
    color: #ED1D24;
}

.input-search{
    font-family: 'Roboto-Medium';
    height: 4em;
    width: 100%;
    text-decoration: none;
    border-color: #ED1D24;
    border-radius: 5px;
}

.container-search{
    width: 100%;
    padding: 3em 2em;
    z-index: 0;
    
}

.input-search{
    text-indent: 10px;
    border: solid 1px #ED1D24;
}

.container-heroes{
    width: 100%;
    display: grid;
    grid: auto / auto;
    grid-row-gap: 1em;
    position: relative;
    padding-top: 50px;
}

.card-element{
    position: relative;
    width: 100%;
    height: 30em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.card-element:hover{
    box-shadow: 0 0 10px 5px #9b9b9b;
}

.image-card{
    width: 100%;
    height: 90%;
}

.title-card{
    font-size: 1em;
    font-family: 'Roboto-Regular';
}

.container-title-card{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #ED1D24;
    color: #fff;
}

.loading{
    font-family: 'Roboto-Bold';
    font-size: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    padding-top: 100px;
}

.navigation{
    padding-top: 150px;
    font-family: 'Roboto-Medium';
    font-size: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
}

.back-button{
    cursor: pointer;
    transition: .5s ease-in-out;
}

.back-button:hover{
    color: #ED1D24;
    text-decoration: underline;
}

.container-description{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-image-heroe{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.image-heroe{
    width: 90%;
    height: 50%;
    border-radius: 20px;
}

.container-info{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 1em;
}

.no-description{
    color: #ED1D24;
    font-family: 'Roboto-Regular';
}

.padding{
    padding: 20px 0;
}

.message{
    text-align: center;
    font-size: 1em;
    color: #ED1D24;
    font-family: 'Roboto-Medium';
    padding-top: 50px;
}

.container-input-search{
    position: relative;
}

.close-search{
    position: absolute;
    right: 10px;
    bottom: 13px;
    color: #ED1D24;
    transition: .25s ease-in-out;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.mail, .pass{
    color: #ED1D24;
    position: absolute;
    right: 10px;
    bottom: 35px;
}

.close-search:hover{
    transform: scale(1.2);
}

/* breakpoints */

@media (min-width: 768px) { 
    .container-heroes{
        grid: auto / auto auto;
        grid-gap: 20px 20px;
    }

    .card-element{
        height: 20em;
    }
}

@media (min-width: 992px) { 
    
    .card{
        max-width: 450px;
    }

    .logo-login{
        width: 50%;
        position: absolute;
        top: -3.5em;
    }

    .menu-movil-boton{
        display: none;
    }

    .logout-desktop{
        display: flex;
    }

    .container-search{
        width: 80%;
        padding: 3em 2em;
    }

    .container-heroes{
        grid: auto / auto auto auto;
        grid-gap: 25px 25px;
    }

    .card-heroes:hover{
        transform: scale(1.1);
    }

    .card-element{
        height: 20em;
    }

    .container-description{
       flex-direction: row;
    }

    .container-image-heroe, .container-info{
        width: 50%;
    }

    .container-image-heroe{
        padding: 1em;
    }

    .navigation{
        padding-left: 3em;
    }

}

@media (min-width: 1200px) { 
    .container-heroes{
        grid: auto / auto auto auto auto;
        grid-gap: 25px 25px;
    }

    .card-heroes:hover{
        transform: scale(1.1);
    }
} 

